/****** Base Styles ******/

body {
    color: #000000;
    font-family: 'Montserrat', sans-serif;
    font-size: 15px;
}
a {
    color: #000000;
    cursor: pointer;
    display: block;
    text-decoration: none;
}
a:hover {
    color: #ff0000;
}
img {
    max-width: 100%;
}
h4 {
    font-size: 1.2em;
    margin: 0;
}

/***** Grid *****/

.full-width {
    margin: 0 auto;
    max-width: 1000px;
    overflow: auto;
    width: 90%;
}
.half-width {
    float: left;
    padding: 0 10px;
    width: 45%;
}

/****** Header ******/

header {
    background: url('../img/hero.jpg');
    background-size: cover;
    height: 700px;
}

.top-header {
    background-color: #000000;
    height: 70px;
}

header .full-width {
    display: flex;
    flex-wrap: wrap;
}
header h1 {
    color: #ffffff;
    font-family: 'Oswald', sans-serif;
    font-size: 1em;
    text-align: center;
    text-transform: uppercase;
    width: 100%;
}
header h1 a {
    color: #ffffff;
    text-decoration: none;
}
header a:hover {
    color: #ff0000;
}
header h2 {
    background-color:rgba(255,255,255,0.5);
    color: #ed1566;
    font-family: 'Oswald', sans-serif;
    float:left;
    font-size: 38px;
    letter-spacing: 1.3px;
    padding: 20px 0 20px 25px;
    text-transform: uppercase;
    width: 170px;
}
header h4 {
    background-color:rgba(255,255,255,0.5);
    color: #ed1566;
    font-family: 'Oswald', sans-serif;
    float: left;
    font-size: 15px;
    letter-spacing: 1px;
    margin:50px;
    padding: 20px 0 20px 25px;
    text-transform: uppercase;
    width: 170px;
}
.top-left {
    position: absolute;
    top: 50px;
  }
.left {
    position: absolute;
    top: 105px; 
  }
nav {
    width: 100%;
}
nav ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    list-style-type: none;
}
nav ul li a {
    color: #cccccc;
    font-size: 0.9em;
    text-decoration: none;
}

/****** Resources ******/

#resources {
    background-color: #d1e6f7;
    text-align: center;
}
#resources .full-width {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 85px 0;
}
.bio {
    width: 100%;
}
#resources h2 {
    color: #000000;
    font-family: 'Oswald', sans-serif;
    font-size: 1.7em;
    margin: 0 auto;
    padding-bottom: 10px;
    text-align: center;
    text-transform: uppercase;
    width: 100%;
}
#resources ul {
    padding: 0;
}
#resources li {
    font-size: 18px;
    line-height: 30px;
    list-style: none;
}
#resources a {
    color: #000000;
    display: inline;
    text-decoration: underline;
}
#resources a:hover {
    color: #ff0000;
}

/****** Contact ******/

#contact {
    background-color: #000000;
    color: #ffffff;
    padding: 50px 0 0 0;
    text-align: center;
}
#contact .full-width {
    padding: 30px 0;
}
#contact h4 {
    color: #ffffff;
    font-family: 'Oswald', sans-serif;
    font-size: 1em;
    line-height: 44px;
    padding: 20px 0;
    text-align: center;
    text-transform: uppercase;
}
#contact h3 {
    color: #ffffff;
    font-family: 'Oswald', sans-serif;
    font-size: 1em;
    padding: 20px 0;
    text-align: center;
    text-transform: uppercase;
}
#contact a {
    color: #ffffff;
    font-size: 1em;
    text-decoration: none; 
}
#contact ul {
    list-style: none;
    padding: 0;
}
#contact ul li {
    display: inline-block;
    padding: 0 5px;
}
.info {
    color: #cccccc;
    font-size: 0.7em;
}
.info a {
    font-size: 0.7em; 
}
.credit {
    color: #9c9797;
    font-size: 0.6em;
    padding-bottom: 20px;
}

/*****  Responsive *****/

@media screen and (min-width: 760px) {
    header, footer {
    font-size: 1.2em;
}
header .full-width {
    justify-content: space-between;
}
header h1 {
    width: 45%;
    padding: 15px 0;
}
header nav {
    width: 45%;
}
header nav ul {
    justify-content: space-evenly;
}
nav {
    padding: 15px 0;
}
#resources .full-width {
    padding: 85px 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.bio {
    width: 30%;
}
}